@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
    --primary-color: #00ccbe;
    --secondary-color: #09a6a3;
    --accent1-color: #edebc9; 
    --accent2-color: #9dbfaf;
    --accent3-color: #fcf9d8;

    --heading-font: 'Caveat', serif;
    /* --paragraph-font: 'Helvetica Neuve', sans-serif; */

    --nav-background-color:#fcf9d8;
    --nav-link-color:#9dbfaf;
    --nav-hover-link-color: #00ccbe;
    --nav-hover-background-color:#9dbfaf;
}

/* style of header */
header nav {
    padding: 0px;
}

img {
    max-width: 3000px;
}

header img {
    width: 150px;
    position: relative;
}

.grid_1 {
    margin: 1rem auto;
    background-color: #fcf9d8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 150px);
    align-items: center;
    justify-items: center;
}

#logo {
    grid-column: 1/2;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0px;
    align-items: center;
    justify-items: center;
    list-style: none;
    background-color: #008077;
    margin: 0px;
    padding:9px 0px;
}

.navigation a {
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: rgb(0, 0, 0);
    background-color: #fff;
    
}

.botton {
    padding: 10px 20px 10px 20px;
    margin: 5px -6px ;
    background-color: var(--secondary-color);
    color: white;
    border: 1px white;
    text-decoration: none;
    border-radius: 10px 0px;
    transition: background-color 0.5s ease;
}

.item1 {
    grid-column: 2;
    grid-row: 2;
} 




/* main for About Us */


.hero {
    height: 30em;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#image_background {
    filter: blur(0.2px);
}

#h1_of_about_US {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    width: auto;
    position: relative;
    bottom: 507px;
    color:aliceblue;
    background-color: rgba(52, 52, 52, 0.7);
    padding: 60px 0px;
    font-family: "Caveat";
    font-size: 40px;
}
#text_history{
    text-align: center;
}

#costumer {
    position: absolute;
    width: 300px;
    top: 380px;
    right: 122px;
    background-color: #068274e7;
    padding: 30px 30px 30px 700px;
    border-radius: 15px;
}

article p {
    position: absolute;
    top: 410px;
    left: 150px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 500px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Caveat';
}

.images_adventure {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 250px 250px;
    align-items: center;
    justify-items: center;
}

#h2_of_about_US {
    grid-column: 1/3;
}
.types_rafting3 {
    max-width: 295px;
    grid-column: 4/5;
    grid-row: 1/3;
}

.types_rafting1, .types_rafting2, .types_rafting1, .types_rafting4, .types_rafting5  {
    max-width: 290px;
}

/* main for Contact Us */

    /* Contact Us */
#contactus {
    font-size: 30px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    
    color: #343434;
}

#p_welcome {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    color: #8f8f8f;
}

#profiletype1, #profiletype2, #profiletype3 {
    width: 100px;
    border-radius: 50%;
    grid-column: span 1;
    justify-self: center;
}

.main1 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 200px 200px 200px 200px 100px;
}

#profiletype1 {
    grid-row: 2/4;
    grid-column: 1;
    text-align: center;
}

#profiletype2 {
    grid-row: 10;
    grid-column: 3;
    text-align: center;
}

#profiletype3 {
    grid-row: 10;
    grid-column: 4;
    text-align: center;
}

.profiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / span 4;
    grid-row: 10 / span 1;
}



.contact-form {
    max-width: 600px;
    margin: 20px 10px;
    padding: 20px;
    height: 550px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    grid-column: 1/3;
    grid-row: 3/9;
}

.contact-form h3 {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-form p {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.contact-form label {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    color: #333;
    font-size: 15px;
    margin-bottom: 8px;
}

form > fieldset {
    border: 0px;
}

.contact-form input,
.contact-form textarea {
    width: 98%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact-form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: #00ccbe;
    color: #343434;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.contact-form input[type="submit"]:hover {
    background-color: #008077;
    color: white;
}

#map {
    grid-column: 3/5;
    grid-row: 7/8;
}
#map iframe {
    width: 100%;
    height: 200%;
    border: 0;
    
}

#Address {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    grid-column: 4/4;
    grid-row: 3/4;
}

#Phone {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-column: 4/4;
    grid-row: 4/4;

}

#Email {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    grid-column: 4/4;
    grid-row: 5/6;
}
  form {
    margin-bottom: 15px;
    border: none;
  }

  input[type="text"],
  textarea,
  select,
  input[type="number"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #323232;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* trips | Awesome */

    /* main trip */
    .hero_of_trip {
        height: 14em;
    }

    #image_background_of_trip {
        width: 100%;
        position: relative;
        bottom: 15px;
    }
    
    #h1_of_Trips {
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px;
        width: auto;
        position: relative;
        bottom: 305px;
        color:aliceblue;
        background-color: rgba(52, 52, 52, 0.514);
        font-family: "Caveat";
        font-size: 40px;
    }

    /* section trip */

    #div_of_trip {
        position: relative;
        top: 11px;
        display: grid;
        grid-template-columns: 70% 30%;

    }

    #section_of_trip {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, 350px);
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }

    .h2_trips {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 55% 45%;
        background-color: #edebc9;
        border-radius: 15px;
        width: 50em;
        padding-left: 30px;
        height: 300px;
        align-items: center;
    }
    
    .trip_image {
        width: 330px;
        border-radius: 15px;
        
    }

    /* Section */

    #aside_of_trip {
        background-color: #ffffff;
        width: auto;
        height: auto;
        grid-column: 2/3;
        justify-content: center;
        text-align: center;
    }

    #h5_of_trip {
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        color: #343434;
    }
    
    #p_of_aside_trip {
        color: #808080;
        font-size: 30px;
    }

    .awesome-button {
        display: inline-block;
    background-color: #00867d;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    }
    
    .awesome-button:hover {
        background-color: #005751;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    

    /* Table */

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
        border: 1px solid #b1b1b1;
    }
    
    th, td {
        padding: 12px 15px;
    }
    
    th {
        font-family: 'Open Sans', sans-serif;
        background-color: #717171;
        color: white;
        text-transform: uppercase;
    }
    
    tr:nth-child(even) {
        background-color: #f3f3f3;
    }
    




/* Home | Awesome */

.hero_of_home {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

.hero_of_home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.hero_text {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 319px;
    width: auto;
    position: relative;
    bottom: 404px;
    color:aliceblue;
    background-color: rgba(52, 52, 52, 0.514);
    font-family: "Caveat";
    font-size: 25px;
  }

/* Newsletter Section */
.newsletter {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
  }
  
.newsletter h2 {
    margin-bottom: 20px;
  }
  
.newsletter form {
    display: inline-block;
    text-align: left;
  }
  
.newsletter label {
    display: block;
    margin-bottom: 5px;
  }
  
.newsletter input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.subscribe-button {
    display: inline-block;
    background-color: #767676;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.subscribe-button:hover {
    background-color: #343434;
  }

/* Call to Action Section */
.call-to-action {
    text-align: center;
    padding: 50px 20px;
    background-color: #008077;
    color: white;
  }
  
.call-to-action .cta-button {
    display: inline-block;
    background-color: #edebc9;
    color: rgb(0, 0, 0);
    padding: 10px 20px; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
.call-to-action .cta-button:hover {
    background-color: #343434;
    color: white;
  }
  
/* About Site Section */
.about-site {
    padding: 50px 20px;
    background-color: #fff;
  }
  
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
.grid-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
.grid-item img {
    width: 100%;
    border-radius: 10px;
  }
  
.grid-item h3 {
    margin-top: 15px;
  }
  
.grid-item p {
    margin: 15px 0;
  }



/* footer */

footer {
    background-color: #fcf9d8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
}

footer > p {
    margin: 0;
    flex: 1 1 100%;
    text-align: center;
}

.social_links {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 20px;
}

.social_img {
    width: 30px;
}

@media (max-width: 600px) {
    .social_links {
        position: static;
        justify-content: center;
        margin-top: 10px;
    }

    footer > p {
        order: 2;
    }
}